body {
  font-size: 0.88rem;
  background-color: #0d74af
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  width: 20vw;
  margin-left: 0;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.btn-primary {
  border: none;
}

.deleteBtn {
  color: red;
}

.btn-primary:hover {
  filter: brightness(95%);
}

/* LIST CSS */

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s
}

.card-header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 0 0 10px;
}

.scroll-area-sm {
  height: 288px;
  overflow-x: hidden
}

.todo-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: .6;
  transition: opacity .2s
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center
}

.widget-content .widget-content-right {
  margin-left: auto
}

.btn-outline-success:hover {
  color: #fff;
  background-color:gainsboro;
  border-color: black
}

.done {
  position: relative;  
}

.done:after {
position: absolute;
left: 50px;
top: 50%;
height: 1px;
background: black;
content: "";
width: 70%;
display: block;
}

/* CODE BELOW I GOT FROM https://codepen.io/tobiasdev/pen/YWpBxX which i slightly modified*/
.colorInput {
  display: none;
}

.button {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button span:hover {
  border: 2px solid red;
}

.orange .button span {
  background: #FF5722;
}

.amber .button span {
  background: #FFC107;
}

.lime .button span {
  background: #8BC34A;
}

.teal .button span {
  background: #009688;
}

.blue .button span {
  background: #2196F3;
}

.orange input:checked ~ .button span{
  border: 2px solid black;
}

.amber input:checked ~ .button span {
  border: 2px solid black;
}

.lime input:checked ~ .button span {
  border: 2px solid black;
}

.teal input:checked ~ .button span {
  border: 2px solid black;
}

.blue input:checked ~ .button span {
  border: 2px solid black;
}

